
* {
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aliceblue;
}

body {
  min-width: 375px;
  width: 100%;
  padding: 0 10px;
  background: whitesmoke;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 1.1rem;
}

.header__title {
  font-size: 24px;
  letter-spacing: 1.3px;
  font-weight: 600;
}

.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.countries__info {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    #403f44, #1e1b32
  );
  max-width: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .8s all ease-in-out;
  margin: 20px;
}

.countries__info:hover {
  transform: translateY(-3px);
}

.countries__info--img {
  max-width: 250px;
  width: 100%;
}

.countries__info--name {
  margin-top: 10px;
  letter-spacing: .8px;
}

.countries__info--pop {
  letter-spacing: .8px;
}
